.skeleton-loading {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  from {
    background-color: hsl(200, 20%, 70%);
  }
  to {
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton-content {
  width: 60%;
  height: 0.9rem;
  margin-bottom: 0.35rem;
  border-radius: 0.125rem;
}

.footer .skeleton-content {
  margin-bottom: 0;
  width: 40%;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 2.5rem;
  padding: 0 0.8em 0;
}
input {
  font-size: 2.5rem;
  border-style: double;
}

.user-cards {
  display: grid;
  place-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: 0 2em 0;
}

.user-card {
  box-shadow: 0px 5px 30px rgba(6, 6, 7, 0.075);
  background-color: white;
  padding: 1.2rem;
  border: 1px solid rgba(7, 36, 86, 0.075);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
}
.user-card:hover {
  transform: scale(1.02);
}
.user-card::before {
  content: "";
  height: 6px;
  transition: background-color 300ms ease-in-out;
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 1;
  background-color: rgba(7, 36, 86, 0.06);
}
.user-card:hover::before {
  background-color: rgb(15, 163, 189);
}
.user-card > .header {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.user-card > .body {
  font-size: 2rem;
  color: #777;
}

.user-card > .footer {
  font-size: 2rem;
  color: rgb(0, 174, 197);
}
.vanish {
  display: none;
}

@media (min-width: 900px) {
  .user-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
