.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 2.5rem;
}
input {
  font-size: 2.5rem;
}

.user-cards {
  display: grid;
  gap: 1.25rem;
  margin-top: 1rem;
}

.user-card {
  box-shadow: 5px 10px 18px #9b9b9b;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
}

.user-card > .header {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.user-card > .body {
  font-size: 2rem;
  color: #777;
}

.user-card > .footer {
  font-size: 2rem;
  color: rgb(0, 174, 197);
}
.hide {
  display: none;
}

@media (min-width: 900px) {
  .user-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
